<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <applicationInitialization>
      <add initializationPage="/default.aspx" />
    </applicationInitialization>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
    </httpHandlers>
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
          assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <!-- 

    
    <add name="Default" connectionString="Data Source= . ;Initial Catalog= GUARDLLET ;Integrated Security= true;" providerName="System.Data.SqlClient" />
    <add name="Default" connectionString="Data Source= LAPTOP-LCQJMS09\SQLEXPRESS ;Initial Catalog= GUARDLLET ;Integrated Security= true;" providerName="System.Data.SqlClient"/>

-->
    <add name="Default" connectionString="Server=tcp:guardllet-desarrollo.database.windows.net,1433;Initial Catalog=Guardllet-Desarrollo;Persist Security Info=False;User ID=JOSUE;Password=Guardllet0;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>

  </connectionStrings>
  <appSettings>
    <add key="Regla_Nombre" value="^([a-zA-Z]|[ ]|[áéíóúñÁÉÍÓÚÑ]|[_\-])*$" />
    <add key="Regla_Correo" value="^[a-z0-9!#$%&amp;*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" />
    <add key="Regla_Telefono" value="^([0-9]|[ \-])*$" />
    <add key="Regla_Mensaje" value="^([a-zA-Z]|[ ]|[0-9]|[\.,'¿?¡!\(\)/\*]|[áéíóúñÁÉÍÓÚÑ]|[#$%_\-])*$" />
    <add key="Regla_Boleta" value="^([0-9])*$" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
  </appSettings>
</configuration>