<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  <system.webServer>
    
    <httpErrors errorMode="Detailed">
    </httpErrors>
    
    <applicationInitialization>
      <add initializationPage="/default.aspx" />
    </applicationInitialization>
    
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off" />
  </system.web>
  
  <connectionStrings>
    <!--
    <add name="Default" connectionString="Server=tcp:guardllet-desarrollo.database.windows.net,1433;Initial Catalog=GUARDLLET;Persist Security Info=False;User ID=Josue;Password=Guardllet0;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
     -->
    <add name="Default" connectionString="Data Source= . ;Initial Catalog= GUARDLLET ;Integrated Security= true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!-- Reglas de validacion -->
    <add key="Regla_Nombre" value="^([a-zA-Z]|[ ]|[áéíóúñÁÉÍÓÚÑ]|[_\-])*$"/>
    <add key="Regla_Correo" value="^[a-z0-9!#$%&amp;*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&amp;'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$"/>
    <add key="Regla_Telefono" value="^([0-9]|[ \-])*$"/>
    <add key="Regla_Mensaje" value="^([a-zA-Z]|[ ]|[0-9]|[\.,'¿?¡!\(\)/\*]|[áéíóúñÁÉÍÓÚÑ]|[#$%_\-])*$"/>
  </appSettings>

</configuration>
