* {

    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;

}

body {

    background-color: #001935;

}

header {

    width: 100%;
    height: 70px;
    background-color: #001935;

}

#TxtMateria {
    
    background-color: #052345;
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 45px;
    margin-top: 3%;

}

#TxtMonto {
    
    background-color: #052345;
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 45px;
    margin-top: 3%;

}

#TxtCopias {
    
    background-color: #052345;
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 45px;
    margin-top: 3%;

}

.Boton-Ets {

    width: 80%;
    height: 40px;
    margin-left: 10%;
    border: solid 1px #001124;
    border-radius: 20px;
    color: white;
    background-color: #001124;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.form-control::placeholder {

    color: #efe6e6;
    opacity: 1;
    text-align: center;

}