* {

    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;

}

body {

    background-color: #001935;

}

header {

    width: 100%;
    height: 70px;
    background-color: #001935;

}

footer {

    width: 100%;
    height: 20px;
    background-color: #001935;
    margin-top: 20%;
}

.margen {

    margin-top: 15%;

}

.Contenedor-titulo {

    margin-top: 10%;
    padding: 0;
    width: 100%;
    height: 100px;
    text-align: center;

}

.Lb-Error{

    text-align: center;
    color: red;

}

.btn-completar {

    width: 80%;
    height: 40px;
    margin: 1% 10% 10%;
    border: solid 1px #001124;
    border-radius: 20px;
    color: white;
    background-color: #001124;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}

.titulo {

    color: white;

}

#TxtNombre {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

#TxtApellidoP {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    margin-top: 3%;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

#TxtApellidoM {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    margin-top: 3%;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

#TxtCelular {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    margin-top: 3%;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

#TxtEdad {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    margin-top: 3%;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

#ListaEscuelas {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    margin-top: 3%;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

#TxtBoleta {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    margin-top: 3%;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

#TxtGrupo {

    background-color: #01172f;
    border-top: solid 1px #001935;
    border-left: solid 1px #001935;
    border-right: solid 1px #001935;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;
    margin-top: 3%;
    height: 45px;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,1);
}

.form-control::placeholder {

    color: #efe6e6;
    opacity: 1;
    text-align: center;

}