* {

    font-family: serif;
    color: white;

}

body {

    background-color: #3e4451;

}

header {

    width: 100%;
    height: 70px;
    background-color: #3e4451;

}

footer {

    width: 100%;
    height: 20px;
    background-color: #3e4451;
    margin-top: 20%;
}

.margen {

    margin-top: 15%;

}

.Contenedor-titulo {

    margin-top: 10%;
    padding: 0;
    width: 100%;
    height: 100px;
    text-align: center;

}

.Lb-Error{

    text-align: center;
    color: red;

}

.btn-completar {

    width: 80%;
    height: 40px;
    margin: 1% 10% 10%;
    border: solid 1px black;
    border-radius: 20px;
    color: white;
    background-color: black;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}

.titulo {

    font-size: 300%;

}

#TxtNombre {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

#TxtApellidoP {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

#TxtApellidoM {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

#TxtCelular {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

#TxtEdad {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

#ListaEscuelas {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

#TxtBoleta {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

#TxtGrupo {

    background-color: #3e4451;
    border-top: solid 1px #3b404a;
    border-left: solid 1px #3b404a;
    border-right: solid 1px #3b404a;
    border-bottom: solid 1px white;
    border-radius: 0px;
    color: white;
    text-align: center;

}

.form-control::placeholder {

    color: #efe6e6;
    opacity: 1;
    text-align: center;

}