@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
 
    background-color: white;
    height: 100%;
}

* {

    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;

}

header {

    background-color: #001935;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 5px;
    z-index: 100;

}

main {

    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 100%;
    max-height: 100%;

}
 
.segundo-contenedor {
    margin-top: 60px;
    height: 100%;
    position: inherit;
}

.botones-i-r {

    margin-top: 400px;
}

#BtnEntrar {

    width: 45%;
    height: 60px;
    border: solid 0px;
    background-color: #001935;
    color: white;
    border-radius: 15px;

}

#BtnRegistrar {

    width: 45%;
    height: 60px;
    margin-left: 8%;
    border: solid 0px;
    background-color: #001935;
    color: white;
    border-radius: 15px;

}

 
.swiper-container {

        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
}

.swiper-slide {
        
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
}