body {
}

.tarjeta-monedero {
    width: 100%;
    height: 250px;
  
}

header {
    width: 100%;
    height: 80px;
    background-color: #001935;
}

.menu {

    width: 40%;
    height: 100%;
    margin-left: 60%;
}

.BtnMenu {

    width: 48%;
    height: 90%;
    background-color: #001935;
    color: white;
    border: solid 0px;

}

.margen {

    margin-top: 5%;
}

#Monedero {
    margin-top: 30%;
}
.tarjeta{

	width: 100%;
    height: 250px;
	background: #001935;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
    border-radius: 15px;

}

.adelante, .atras{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

}

.adelante{
	width: 100%;
    border-radius: 15px;
}

.atras{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);

	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
    background-color: white;
	text-align: center;
	color: #fff;
	font-family: "open sans";
    border-radius: 15px;
}

.tarjeta-wrap:hover .tarjeta{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.saldo {

    width: 100%;
    height: 250px;
  
}

.productos {

    width: 100%;
    height: 500px;

}

footer {

    width: 100%;
    height: 50px;
    background-color: #001935;
    margin-top: 5%;

}