body {

}


header {

    width: 100%;
    height: 80px;
    background-color: #001935;

}

.menu {

    width: 60%;
    height: 97%;
    margin-left: 40%;

}

#BotonHome {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    font-size: 20px;

}

#BotonHome:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonServicios {

     width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonServicios:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonPerfil {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonPerfil:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonSesion {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonSesion:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

.contenedor-in {
    width: 90%;
    height: 125px;
    margin-left: 5%;
    position: relative;
    display: table;
    margin-top: 5%;
}

.contenedor-i {
    width: 40%;
    height: 100%;
    float: left;
    position: absolute;
    min-width: 125px;
    max-width: 125px;
}

.imagen {
    width: 95%;
    height: 90%;
    margin: 2%;
    border-radius: 15px;
    border: solid 1px;
}

.contenedor-n {
    width: 60%;
    height: 100%;
    position: absolute;
    float: left;
    margin-left: 40%;
    max-width: 400px;
    min-width: 210px;
}

.nombre {
    width: 100%;
    height: 32%;
}

.escuela {
    width: 100%;
    height: 36%;
}

.boleta {
    width: 100%;
    height: 32%;
}

#nombre {
    position: absolute;
    margin-top: 10px;
}

#escuela {
    margin-top: -5px;
    position: absolute;
}

#boleta {
    position: absolute;
    margin-top: -30px;
}

.contenedor-tickets {
    width: 95%;
    height: 200px;
    margin-left: 2.5%;
    margin-top: 2%;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

#compra {
    background-color: black;
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 10px;
}

.contenedor-datos {
    width: 95%;
    height: 300px;
    margin-left: 2.5%;
}

footer {

    width: 100%;
    height: 50px;
    background-color: #001935;
    margin-top: 5%;

}