body {

}


header {

    width: 100%;
    height: 80px;
    background-color: #001935;

}

.menu {

    width: 60%;
    height: 97%;
    margin-left: 40%;

}

#BotonHome {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    font-size: 20px;

}

#BotonHome:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonServicios {

     width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonServicios:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonPerfil {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonPerfil:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonSesion {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonSesion:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

.contenedor-in {
    width: 90%;
    height: 125px;
    margin-left: 5%;
    position: relative;
    display: table;
    margin-top: 5%;
}

.contenedor-i {
    width: 40%;
    height: 100%;
    float: left;
    position: absolute;
    min-width: 125px;
    max-width: 125px;
}

.imagen {
    width: 95%;
    height: 90%;
    margin: 2%;
    border-radius: 15px;
    border: solid 1px;
}

.contenedor-n {
    width: 60%;
    height: 100%;
    position: absolute;
    float: left;
    margin-left: 40%;
    max-width: 400px;
    min-width: 210px;
}

.nombre {
    width: 100%;
    height: 32%;
}

.escuela {
    width: 100%;
    height: 36%;
}

.boleta {
    width: 100%;
    height: 32%;
}

#nombre {
    position: absolute;
    margin-top: 10px;
}

#escuela {
    margin-top: -5px;
    position: absolute;
}

#boleta {
    position: absolute;
    margin-top: -30px;
}

.contenedor-tickets {
    width: 95%;
    height: 250px;
    margin-left: 2.5%;
    margin-top: 2%;
    position: relative;
    background-color: #edf1f6;
}

.titulo-tickets {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    margin-right: 15%;
}

#titulo {
    font-size: x-large;
    margin-top: 10px;
    position: absolute;
}

#ContenedorTickets {
    background-color: #edf1f6;
    width: 97%;
    height: 190px;
    margin-left: 1.5%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: absolute;
}

#compra {
    background-color: #0000001a;
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 10px;
    display: table;
}

.Decoracion {
    height: 100%;
    width: 10px;
    background-color: #001935;
    position: absolute;
}

.contenido {
    float: left;
    width: 70%;
    height: 100%;
    position: absolute;
    margin-left: 10px;
    min-width: 220px;
}

.definicion {
    width: 97%;
    height: 30%;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 120%;
}

.fecha {
    width: 97%;
    height: 30%;
    margin-left: 3%;
    font-size: 95%;
    margin-top: 20px;
}

.descarga {
    float: left;
    position: absolute;
    width: 30%;
    height: 100%;
    margin-left: 70%;
    min-width: 90px;
}

#descargar {
    width: 90%;
    height: 90%;
    margin: 5%;
    background-color: #001935;
    border: solid 0px;
    color: white;
    font-size: 30px;
}

.contenedor-datos {
    width: 95%;
    height: 370px;
    margin-left: 2.5%;
    margin-top: 2%;
    background-color: #edf1f6;
    position: relative;
}

.datos-titulo {
    width: 60%;
    height: 55px;
    margin-left: 20%;
    position: absolute;
    margin-top: 10px;
    font-size: x-large;
}

.datos-nombre {
    margin-top: 65px;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 52px;
    display: table;
}

.datos-apellido-p {
    margin-top: 117px;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 52px;
    display: table;
}

.datos-apellido-m {
    margin-top: 169px;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 52px;
    display: table;
}

.datos-celular {
    margin-top: 221px;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 52px;
    display: table;
}

.datos-edad {
    margin-top: 273px;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 52px;
    display: table;
}

.atributo {
    float: left;
    width: 50%;
    height: 100%;
    position: absolute;
}

.valor {
    float: left;
    width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
    text-align: right;
    font-size: medium;
}

.p-a {
    position: absolute;
    margin-top: 5px;
    font-size: medium;
}

.datos-boton {
    margin-top: 325px;
    margin-left: 5%;
    position: absolute;
    width: 90%;
    height: 55px;
}

#BotonActualizar {
    width: 40%;
    height: 35px;
    border-radius: 15px;
    border: 0px;
    background-color: #001935;
    color: white;
    margin-left: 30%;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #001935;
    margin-top: 660px;
}