@font-face {
    font-family: bebas;
    src: url(../Fuentes/);
}

* {

    font-family: Gibson,Helvetica Neue,HelveticaNeue,Helvetica,Arial,sans-serif;

}

body {

    background-color: #001935;

}

header {

    width: 100%;
    height: 70px;
    background-color: #001935;

}

footer {

    width: 100%;
    height: 20px;
    background-color: #001935;
    margin-top: 20%;
}

.margen {

    margin-top: 15%;

}

.Contenedor-titulo {

    margin-top: 30%;
    padding: 0;
    width: 100%;
    height: 100px;
    text-align: center;

}

.Lb-Error{

    text-align: center;
    color: red;

}

.btn-registrate {

    width: 80%;
    height: 40px;
    margin: 5% 10% 10%;
    border: solid 1px #001124;
    border-radius: 20px;
    color: white;
    background-color: #001124;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}

.titulo {

   color: white;

}

.a-s {

    color: white;
    text-align: center;
    margin-top: -10%;
}

.form-control::placeholder {

    color: #efe6e6;
    opacity: 1;
    text-align: center;

}

#TxtCorreo {
    
    background-color: #021e3e;
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 45px;
}

#TxtContraseña {
    
    background-color: #021e3e;
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 45px;
    margin-top: 3%;
}

#TxtContraseñaC {
    
    background-color: #021e3e;
    border-radius: 15px;
    color: white;
    text-align: center;
    height: 45px;
    margin-top: 3%;
}

.color-ext {
    color: white;
}