
body {

    background-color: white;
    height: 100%;

}

header {

    width: 100%;
    height: 80px;
    background-color: #001935;
}

main {

    position: relative;
    width: 100%;
    height: 700px;
    min-height: 100%;
    max-height: 100%;

}

.menu {

    width: 60%;
    height: 97%;
    margin-left: 40%;

}

#BotonHome {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    font-size: 20px;
}

#BotonHome:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;
}

#BotonServicios {

     width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonServicios:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonPerfil {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonPerfil:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

#BotonSesion {

    width: 10%;
    height: 100%;
    background-color: #001935;
    color: white;
    border: solid 0px;
    margin-left: 15%;
    font-size: 20px;

}

#BotonSesion:hover {

    text-shadow: 4px 3px 3px black;
    font-size: 23px;

}

.swiper-container {

      width: 100%;
      padding-top: 40px;
      padding-bottom: 40px;

}

.swiper-slide {

      background-position: left;
      width: 300px;
      height: 400px;
      background-color: #edf1f6;

}

.servicio {

    width: 100%;
    height: 100%;

}

.imagen {

    width: 95%;
    height: 75%;
    margin: 2.5%;
    background-image: url(../Multimedia/images.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.descripcion {

    width: 100%;
    height: 18%;
    margin-top: 2%;
    text-align: center;

}

footer {

    width: 100%;
    height: 50px;
    background-color: #001935;
    margin-top: 5%;

}